.custom-navbar {
    background-color: black; }

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: white !important; 
}

.sign-in-name {
    color: white !important; 
}

.sign-in-name > a {
    color: white !important; 
}